
/**
 *	The adminwesome specific styling.
 *	@author Nathan Glasl <nathan@silverstripe.com.au>
 */

div.adminwesome-description {
	display: none;
}

#cms-menu-adminwesome {
	display: none;
	position: absolute;
	z-index: 1000002;
	background: white;
	text-align: center;
	padding: 10px;
	max-width: 395px;
	margin: 5px 0 0 5px;
	border: 1px solid #55A4D2;
	-moz-box-shadow: 1px 1px 1px #304E80;
	-webkit-box-shadow: 1px 1px 1px #304E80;
	box-shadow: 1px 1px 1px #304E80;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: default;
}

#cms-menu-adminwesome:before,
#cms-menu-adminwesome:after {
	content: '';
	position: absolute;
	border-top: 10px solid white;
	border-left: 10px solid transparent;
	border-left: 10px solid rgba(255, 255, 255, 0);
	top: 7px;
	left: -10px;
}

#cms-menu-adminwesome:before {
	border-top: 13px solid;
	border-top-color: inherit;
	border-left: 13px solid transparent;
	border-left: 13px solid rgba(255, 255, 255, 0);
	top: 6px;
	left: -13px;
}
