div#cms-menu-captionwesome.caption {
	position: absolute;
	background: white;
	display: none;
	z-index: 1000002;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 3px #338DC1;
	-moz-box-shadow: 1px 2px 3px #338DC1;
	box-shadow: 1px 2px 3px #338DC1;
	margin-left: 5px;
	max-width: 395px;
	text-align: center;
	border: 1px solid #338DC1;
}

div#cms-menu-captionwesome.caption:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: white transparent;
	display: block;
	width: 0;
	bottom: 8px;
	left: -10px;
	border-width: 10px 0 0 10px;
}

div.captionawesome-description {
	display: none;
}
