div#cms-menu-captionwesome.caption {
	position: absolute;
	background: white;
	display: none;
	z-index: 1000002;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 2px #304E80;
	-moz-box-shadow: 1px 1px 2px #304E80;
	box-shadow: 1px 1px 2px #304E80;
	margin: 5px 0 0 5px;
	max-width: 395px;
	text-align: center;
	border: 1px solid #55A4D2;
}

div#cms-menu-captionwesome.caption:after,
div#cms-menu-captionwesome.caption:before {
    border-left: 10px solid transparent;
    border-top: 10px solid white;
    top: 7px;
    content: '';
    left: -10px;
    position: absolute;
}

div#cms-menu-captionwesome.caption:before {
    border-left: 13px solid transparent;
    border-top: 13px solid;
    border-top-color: inherit;
    top: 6px;
	left: -13px;
}

div.captionawesome-description {
	display: none;
}
